version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.2.4

shared: &shared
  steps:
    - checkout
    - run:
        name: Install Chromedriver latest version
        command: |
          sudo apt-get install xvfb
    - browser-tools/install-chrome
    - run:
        name: Install Python deps in a venv
        command: |
          sudo pip install --upgrade pip
          sudo pip install pipenv
          pipenv install -r ext/requirements-dev.txt
    - run:
        name: Running tests
        command: |
          coverage run -m unittest tests/test_main.py
    - run: |
        if [ $UPLOAD_COV ]; then
          codecov
        fi

jobs:
  py37:
    <<: *shared
    docker:
      - image: circleci/python:3.7

  py38:
    <<: *shared
    docker:
      - image: circleci/python:3.8

  py39:
    <<: *shared
    docker:
      - image: circleci/python:3.9
        environment:
          UPLOAD_COV: "true"

workflows:
  version: 2.1
  main:
    jobs:
      - py37
      - py38
      - py39
